button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }
  html {
    scroll-behavior: smooth;
  }
  
  /*-------------Layout-------------*/
  body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
  }
  
  section {
    height: 100vh;
  }
  
  #home {
    background: #85f1eb;
  }
  
  #about {
    background: #5cd2cc;
  }
  
  #work {
    background: #4ccac4;
  }
  
  #contact {
    background: #2ba8a1;
    padding-top: 10vh;

  }
  @media screen and (max-width: 1160px){
    #contact {
      /* background: #a82b35; */
      padding-top: 80vh;
    }
  }
  /*-------------nav-------------*/
  img {
    padding: 1vh;
    margin-top: -10px;
    height: 60px;
    width: 60px;
    border-radius: 100px;
}
.logo a:hover {
  background-color: #ba024c;
  color: #e7eded;
  border-radius: 20px;

}
  .topnav {
    overflow: hidden;
    padding-top: 2vh;
    top: 0;
    width: 100%;
    position:sticky;
    background-color: #85f1eb;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #667170;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #02bab1;
    color: #e7eded;
    border-radius: 20px;

  }
   .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
/* home */
.text1{
  font-family: "Damion", cursive;
  text-align: center;
  font-size: 25px;
  padding-top: 5vh;
  line-height: 1em;
}
div.example1 {
  font-family: "Damion", cursive;
  padding: 20px;
  text-align: center;
  padding-top: 35vh;
  line-height: 1em;
}

@media screen and (min-width: 601px) {
  div.example1 {
    font-size: 70px;
    text-align: center;
    font-family: "Damion", cursive;
    padding-top: 35vh;
    line-height: 1em;

  }
}

@media screen and (max-width: 600px) {

  div.example1 {
    font-size: 50px;
    font-family: "Damion", cursive;
    text-align: center;
    padding-top: 18vh;
    line-height: 1em;

  }
}

  /* about */
  .text{
    font-family: "Damion", cursive;
    text-align: center;
    font-size: 25px;
    padding: 0vh 5vh;
    padding-top: 5vh;
    line-height: 1em;
  }
  div.example {
    font-family: "Damion", cursive;
    padding: 20px;
    text-align: center;
    padding-top: 35vh;
    line-height: 1em;
  }
  
  @media screen and (min-width: 601px) {
    div.example {
      font-size: 70px;
      text-align: center;
      font-family: "Damion", cursive;
      padding-top: 35vh;
      line-height: 1em;
  
    }
  }
  
  @media screen and (max-width: 600px) {
  
    div.example {
      font-size: 50px;
      font-family: "Damion", cursive;
      text-align: center;
      padding-top: 5vh;
      line-height: 1em;
  
    }
  }
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
    /* display: flex; */
	align-items: center;
	justify-content: center;
	background: #2ac8c1;
    ;
}

button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	background: #6dd6d1;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px #a6fffa,
		inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa;
	font-family: "Damion", cursive;
	color: white;
	font-size: 20px;
	transition: 500ms;
}

button:hover {
	border: 2px solid #6dd6d1;
	animation: hueRotation 2s linear infinite;
    
}

@keyframes hueRotation {
	to {
		filter: hue-rotate(360deg);
	}
}

button:focus {
	outline: none;
}
.heading {
    text-align: center;
  }
  
  .heading__title {
    font-weight: 600;
    margin-top: 0vh;
    padding-top: 13vh;
    font-family: "Damion", cursive;
    text-shadow: #2ba8a1;
    font-size: 63px;
}
  .heading__credits {
    margin: 0px 0px;
    color: #888888;
    font-size: 25px;
    transition: all 0.5s;
  }
  
  .heading__link {
    text-decoration: none;
  }
  
  .heading__credits .heading__link {
    color: inherit;
  }
  
  /* CARDS */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-top: 10vh; */
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }

   .card__link:hover::after {
    width: 100%;
  }
  a:link{
    text-decoration: none;
    color: #ffffff;
}
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  } 
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  .card-3 {
    background: radial-gradient(#88afe0, #b79fff);
  }
  .card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
  }
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
  /* footer */
footer{
	position: absolute;
	bottom: 0;
	background: black;
	height: auto;
	/* width: 100vw; */
	padding: 40px 0 0 0;
}

/*content*/
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer p{
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
/*social -media*/
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
  box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px #4ef8ef,
  inset 0px -5px 10px #57aba7, inset 0px 5px 10px #5ffff7;
}
/* copyright*/
.footer-copyright{
    background: #000;
    width: 100vw;
    padding: 20px 20px 50px 20px;
}
.footer-copyright p{
    font-size: 14px;
    word-spacing: 2px;
    align-items: center;
    justify-content: center;
}
