/*-------------Reset-------------*/
button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }
  
  button:focus,
  input:focus {
    outline: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /*-------------Layout-------------*/
  body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
  }
  
  section {
    height: 100vh;
  }
  
  #home {
    background: #85f1eb;
  }
  
  #about {
    background: #5cd2cc;
  }
  
  #work {
    background: #4ccac4;
  }
  
  #contact {
    background: #2ba8a1;

  }
  
  /*-------------Demsign-------------*/
  .skew {
    transform: skew(-20deg);
  }
  
  .un-skew {
    transform: skew(20deg);
    display: flex;
  }
  
  /*-------------nav-------------*/
  .logo-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -2vh;
  }    
  #nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  #nav {
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: "Saira Semi Condensed", sans-serif;
    height: 4em;
    overflow: hidden;
  }
  #nav.nav-visible {
    height: 100%;
    overflow: auto;
  }
  
  .nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
  }
  
  .nav-link,
  .logo {
    padding: 0 1em;
  }
  
  span.gradient {
    background: #7ab6da;
    background: -webkit-linear-gradient(45deg, #55d2f7, #5aee8a);
    background: linear-gradient(45deg, #55d2f7, #5aee8a);
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
  }
  span.gradient:hover {
    animation-name: logo-hover;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
    /* animation-direction: reverse; */
  }
  span.gradient:hover:after{
    animation-name: logo-hover-after;
    animation-duration: 2s;
    /* animation-fill-mode: reverse; */
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
  }
  h1.logo {
    font-weight: 300;
    font-size: 1.75em;
    line-height: 0.75em;
    color: #fff;
  }
  
  h1.logo a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: #fff;
  }
  h3{
    opacity: 0.5;
  }
  .nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid #ddd;
  }
  
  a:link, a:visited, a:active {
    text-decoration: none;
    color: #3eabdb;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .btn-nav {
    color: #57e0f8;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  @media (min-width: 800px) {
    #nav-wrapper {
      overflow: hidden;
    }
  
    #nav {
      overflow: hidden;
      flex-direction: row;
    }
  
    .nav-link {
      border-top: none;
    }
  
    .right {
      overflow: hidden;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      left: 1.5em;
      height: auto;
    }
  
    .btn-nav {
      display: none;
    }
  
    .nav-link-span {
      transform: skew(20deg);
      display: inline-block;
    }
  
    .nav-link {
      transform: skew(-20deg);
      color: #777;
      text-decoration: none;
    }
    .nav-link:last-child {
      padding-right: 3em;
    }
  
    a:hover.nav-link:not(.active) {
      color: white;
      background: #ddd;
      background: linear-gradient(45deg, #55d2f7, #5aee8a);
      /* background: linear-gradient(45deg, #fff, #ddd); */
    }
}
  @keyframes logo-hover {
    /* 20% {
      padding-right: 0em;
    }
    100% {
      padding-right: 100em;
    } */
    50% {
        padding-right: 100em;
        
      }
    /* 0% {
        padding-right: 20em;
      } */
  }
 
  /* about */
 
.hero_title1 {
    font-size: 4.5rem;
    text-align: center;
    justify-content: center;
    margin-top: 10vh;
    top: 27px;
    font-family: "Damion", cursive;
}


.hero_desc1 {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Damion", cursive;
justify-content: center;
}
.abt {
    margin-bottom: 46vh;
    margin-right: 10vh;
    margin-left: 10vh;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-top: 19vh;
    padding-bottom: 31vh;
    opacity: 0.7;
}
.hi {
    margin-bottom: 46vh;
    margin-right: 10vh;
    margin-left: 10vh;
    padding-left: 25vh;
    padding-right: 20vh;
    padding-top: 27vh;
    padding-bottom: 31vh;
    margin-top: 8vh;
    align-items: center;
    text-align: right;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
    display: flex;
	align-items: center;
	justify-content: center;
	background: #2ac8c1;
    ;
}

button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	background: #6dd6d1;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px #a6fffa,
		inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa;
	font-family: "Damion", cursive;
	color: white;
	font-size: 20px;
	transition: 500ms;
}

button:hover {
	border: 2px solid #6dd6d1;
	animation: hueRotation 2s linear infinite;
    
}

@keyframes hueRotation {
	to {
		filter: hue-rotate(360deg);
	}
}

button:focus {
	outline: none;
}
.heading {
    text-align: center;
  }
  
  .heading__title {
    font-weight: 600;
    margin-top: 0vh;
    padding-top: 13vh;
    font-family: "Damion", cursive;
    text-shadow: #2ba8a1;
    font-size: 63px;
}
  .heading__credits {
    margin: 0px 0px;
    color: #888888;
    font-size: 25px;
    transition: all 0.5s;
  }
  
  .heading__link {
    text-decoration: none;
  }
  
  .heading__credits .heading__link {
    color: inherit;
  }
  
  /* CARDS */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-top: 10vh; */
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }

   .card__link:hover::after {
    width: 100%;
  }
  a:link{
    text-decoration: none;
    color: #ffffff;
}
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  } 
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  .card-3 {
    background: radial-gradient(#88afe0, #b79fff);
  }
  .card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
  }
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
  /* footer */
  
    footer {
        /* position: absolute; */
        bottom: 0px;
        left: 0px;
        right: 0;
        background: #26938d;
        height: 100%;
        width: 100%;
        padding-top: 178px;
        color: #f7f7f7;
        height: 76%;
    }
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}
.footer-bottom {
    background: #237461cf;
    width: 89%;
    padding: 15px;
    padding: 83px;
    /* text-align: center; */
    position: absolute;
    /* height: 47%; */
    margin-top: 28vh;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
  margin-top: -45px;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}